{% extends "crud/base.html" %}
{% block content %}

<div style="margin-top: 5rem;" class="container-xl">
    <h2>Atualizar Usuários</h2>
    <form action="{% url 'update' %}" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label">ID</label>
            <input class="form-control" name="id">
            <div id="emailHelp" class="form-text">Digite o ID do Usuário</div>
          </div>
        <div class="mb-3">
          <label class="form-label">Nome</label>
          <input class="form-control" name="nome">
          <div id="emailHelp" class="form-text">Digite o novo nome</div>
        </div>
        <div class="mb-3">
            <label class="form-label">Idade</label>
            <input class="form-control" name="idade">
            <div id="emailHelp" class="form-text">Digite a nova idade</div>
        </div>
        <button style="background-color: #8AABEA; border: none; border-radius: 0.18rem; color: white; padding: 0.3rem;" type="submit">Enviar</button>
    </form>
</div>
{% if messages %}
{% for message in messages %}
    <div class="alert alert-danger container-xl">{{ message }}</div>
{% endfor %}
{% endif %}
{% endblock %}